<mat-card *ngIf="assignmentTransmis">
  <mat-card-content>
    <mat-card-title class="detail-title"> {{assignmentTransmis.title}}</mat-card-title>
    <img mat-card-image src="{{assignmentTransmis.subject.photo}}" style="width: 5%; height:5%; margin-left: 48%">
    <mat-card-subtitle class="detail-content"> Auteur: <b> {{assignmentTransmis.author}} </b></mat-card-subtitle>
    <mat-card-subtitle class="detail-content"> Matière: <b>{{assignmentTransmis.subject.name}} </b> </mat-card-subtitle>
    <mat-card-subtitle class="detail-content"> Note: <b>{{assignmentTransmis.rating}}</b> </mat-card-subtitle>
    <mat-card-subtitle class="detail-content"> Remarques: <b>{{assignmentTransmis.remarks}}</b> </mat-card-subtitle>
    <mat-card-subtitle class="detail-content"> Date de rendu: <b>{{assignmentTransmis.deadline | date:
        'dd/MM/yy'}} </b></mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions id="bottom">
    <mat-checkbox *ngIf="!assignmentTransmis.rendered" (click)="onAssignmentRendu()">
      Rendre le devoir
    </mat-checkbox>

    <button mat-raised-button color="primary" (click)="onEditAssignment()" [disabled]="!isLoggedAsAdmin()">
      Modifier
    </button>

    <button mat-raised-button color="warn" (click)="onDeleteAssignment()"
      [disabled]="!isLoggedAsAdmin()">Supprimer</button>
  </mat-card-actions>
</mat-card>