<h2>Liste des devoirs ( {{totalDocs}} )</h2>

<main class="container">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selection de la page des assigments"
        (page)="handlePage($event)" class="demo-paginator" [length]="totalPages" [pageSize]="limit" [pageIndex]="page">
    </mat-paginator>
    <table mat-table [dataSource]="assignments"
        class="mat-elevation-z8 demo-table mat-table-striped mat-table-hover mat-table-bordered mat-table-condensed">
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element">
                <a routerLink="/assignments/{{element.id}}">{{element.id}}</a>
            </td>
        </ng-container>

        <!-- nom Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- dateDeRendu Column -->
        <ng-container matColumnDef="deadline">
            <th mat-header-cell *matHeaderCellDef> Date de rendu </th>
            <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
        </ng-container>

        <!-- rendu Column -->
        <ng-container matColumnDef="rendered">
            <th mat-header-cell *matHeaderCellDef> Rendu </th>
            <td mat-cell *matCellDef="let element"> {{element.rendered}} </td>
        </ng-container>

        <!-- Author Column -->
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Auteur </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>

        <!-- Subject Column -->
        <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> Matière </th>
            <td mat-cell *matCellDef="let element"> {{element.subject.name}} </td>
        </ng-container>

        <!-- Subject photo Column -->
        <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef> Photo </th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.subject.photo}}"> </td>
        </ng-container>

        <!-- Rating Column -->
        <ng-container matColumnDef="rating">
            <th mat-header-cell *matHeaderCellDef> Note </th>
            <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
        </ng-container>

        <!-- Remarks Column -->
        <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef> Remarque </th>
            <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
        </ng-container>

        <ng-container matColumnDef="teacher_photo">
            <th mat-header-cell *matHeaderCellDef> Professeur </th>
            <td mat-cell *matCellDef="let element"> <img src="{{element.subject.teacher_photo}}"> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selection de la page des assigments"
        (page)="handlePage($event)" class="demo-paginator" [length]="totalPages" [pageSize]="limit" [pageIndex]="page">
    </mat-paginator>



</main>