<div class="container">
<span class="titre">Ajouter un devoir</span>
  <mat-card >
    <mat-card-content>

        <form ngForm #assignmentForm (submit)="onSubmit($event); assignmentForm.reset()" class="form">

            <mat-hint>Titre</mat-hint>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder="Nom du devoir" required>
            </mat-form-field>
            <mat-hint>Auteur</mat-hint>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="auteur" name="auteur" placeholder="Auteur" required>
            </mat-form-field>
            <mat-hint>Note</mat-hint>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="note" name="note" placeholder="Note" required>
            </mat-form-field>
            <mat-hint>Remarque</mat-hint>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="remarque" name="remarque" placeholder="Remarque" required>
            </mat-form-field>
            <mat-hint>Nom de la matiere</mat-hint>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="nameSubject" name="nameSubject" placeholder="Matiere" required>
            </mat-form-field>
            <mat-hint>Photo de la matiere</mat-hint>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="photo" name="photo" placeholder="Photo matiere" required>
            </mat-form-field>
            <mat-hint>Photo du professeur</mat-hint>
            <mat-form-field appearance="outline">
                <input matInput [(ngModel)]="teacher_photo" name="teacher_photo" placeholder="Photo prof" required>
            </mat-form-field>
            
            <mat-hint>Date de rendu</mat-hint>
            <mat-form-field appearance="outline">
                <mat-label>Date de rendu</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="dateDeRendu" name="date" required>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <button mat-raised-button color="primary">
                Ajouter
            </button>
        </form>
      </mat-card-content>
    </mat-card>
</div>
