.form {
    display: flex;
    flex-direction: column;
    margin:5px;
}
.container{
    margin-left: 18%;
    margin-right: 18%;
}

.detail-title{
    font-size: 25px;
    color: #9370DB;
    text-align: center;
}

.titre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
}